{% extends 'kaggle/bar.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <div style="background:url(../../../static/images/total_home.jpg); opacity: 0.87; margin-top: -30px;">
    <img src="../../../static/images/race.jpg" width="1345px" height="540px" style="margin: 0px 120px 40px 120px;" />
    {% for i in schedule_list %}
    <a href="{% url 'score_list' i.pk %}"><button>{{i}}榜</button></a>
    {% empty %}
    <p style="text-align: center;"><---赛程未确定,暂无任何榜单---></p>
    {% endfor %}
     {% block table %}
     {% endblock %}
    </div>
{% endblock %}

{% block team_list_act %}active{% endblock %}