{% extends 'kaggle/bar.html' %}

{% block title %}
上传你的文件
{% endblock %}

{% block content %}
<h3>提交对应赛题<a href="{% url 'race_detail' comquestion.id %}">{{comquestion.title}}</a></h3>
<h4>请严格按照源文件sample_submission.csv的格式提交</h4>
<form action="" enctype="multipart/form-data" method="post">
   {% csrf_token %}
   {{form}}
   <input type="submit" value="上传"/>
</form>
<script>
        a={{ statu }};
        if (a==1)
        {
            alert('\n\n     {{ error }}\n\n');
        }
</script>
{% endblock %}

{% block kaggle_home_act %}active{% endblock %}