{% extends 'kaggle/bar.html' %}

{% block title %}
上传你的文件
{% endblock %}

{% block content %}

<div style="margin:20px 240px 20px 240px; border: 1px solid #AFEEEE; padding:20px; padding: 30px; width: 70%; height: 90%" >
		<span align="center" style="font-weight: bold; font-size: 40px;">提交对应赛题<a href="{% url 'race_detail' comquestion.id %}">{{comquestion.title}}</a></span>
		<p align="center">
		   <h4>请严格按照源文件sample_submission.csv的格式提交</h4>
		</p>
			<form action="" enctype="multipart/form-data" method="post">
		   {% csrf_token %}<br>
		   &nbsp;&nbsp;&nbsp;{{form}}<br>
		   <input  type="submit" value="上传"/>
	       </form>
	      
			<script type="text/javascript" src="/static/js/alert.js"></script>
			<script>
			        a={{ statu }};
			        if (a==1)
			        {
			            window.alert('\n\n     {{ error }}\n\n');
			        }
			</script>
	       </div>
		   {% endblock %}
{% block kaggle_home_act %}active{% endblock %}