<!DOCTYPE html>
<html>
<head> 
		<title>中北大学大数据挖掘比赛</title>
		<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.useso.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic' rel='stylesheet' type='text/css'>
		<!-- js -->
		<script src="/static/js/jquery.min.js"></script>
		<!-- //js -->
	
		<meta name="viewport" content="width=device-width,intial-scale=0,maximum-scale=0,user-scalable=yes,shrink-to-fit=no">
		<meta name="keywords" content="Galaxy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
				function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- //for-mobile-apps -->
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="static/js/move-top.js"></script>
		<script type="text/javascript" src="static/js/easing.js"></script>
	    <script type="text/javascript" src="/static/js/alert.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- header -->
<div style="width: 100%; height: 130px; padding:0px; margin:0px; position: relative;">

	<div class="container" style="width: 500px; height: 120px;position:absolute; text-align: right;">
		<a href="{% url 'home' %}"><span style="color: #08122d; font-size:70px; font-weight: bold;" >BIG DATA</span></a>
	</div>
	<div class="top-nav" style="position: absolute; right: 40px; padding-top: 40px; height: 120px; font-family: 黑体;">
		<span class="menu"><img src="/static/images/menu.png" alt="" /></span>
		<ul class="nav1">
			<li><a href="/admin" style="font-size:22px; ">超管通道</a></li>
			<li><a href="{% url 'about' %}" style="font-size:22px;">关于</a></li>
			<li><a href="{% url 'enter_com' %}" style="font-size:22px;">报名参赛</a></li>
			<li><a href="{% url 'team' %}" style="font-size:22px;">队伍</a></li>
			{% if username %}
			<li><a href="{% url 'person_center' %}" style="font-size:22px;">{{username}}/个人中心</a></li>
			<li><a href="{% url 'logout' %}" style="font-size:22px;">登出</a></li>
			{% else %}
			<li><a href="{% url 'login' %}" class="login" style="font-size:22px;">登录</a></li>
			<li><a href="{% url 'register' %}" class="sign up" style="font-size:22px;">注册</a></li>
			{% endif %}
		</ul>
	</div>
		<script> 
		   $( "span.menu" ).click(function() {
			 $( "ul.nav1" ).slideToggle( 300, function() {
			 // Animation complete.
			  });
			 });
				
		</script>
	
	<div class="clear"></div>
</div>
		
<!-- //header -->
<!-- banner -->
<div>
   <div style="position: relative; overflow: hidden;">
	<div class="banner" style=" width:1600px;">
			<button style="background:#336699; width: 200px; border-bottom:#CCCCCC 1px solid; border-right: #CCCCCC 2px solid; border-top: none; border-left:none; height: 40px; margin-left:720px; margin-top: 520px; border-bottom-left-radius: 20px; border-top-right-radius: 20px;"><a href="{% url 'kaggle_home' %}"><span style="font-size: 20px; font-family: 黑体; color: #FFFFFF; font-weight: bold; ">进入比赛页面</span></a></button>

	</div>
   </div>
<!-- //banner -->

<div style="margin:0px; padding:30px; background: url(../static/images/total_home.jpg);">
	<h2>广告页面</h2>
	<p>广告,顾名思义,就是广而告之,即向社会广大公众告知某件事物。广告就其含义来说,有广义和狭义之分。广义广告是指不以营利为目的的广告,如政府公告,政党、宗教、教育、文化、市政、社会团体等方面的启事、声明等。狭义广告是指以营利为目的的广告,通常指的是商业广告,或称经济广告，它是工商企业为推销商品或提供服务，以付费方式,通过广告媒体向消费者或用户传播商品或服务信息的手段。商品广告就是这样的经济广告。</p>
	<hr>
	<br>

	<p>广告一词，据考证是一外来语。它首先源于拉丁文advertere，其意为注意、诱导及传播。中古英语时代（约公元1300—1475年），演变为Advertise，其含义衍化为“使某人注意到某件事”，或“通知别人某件事，以引起他人的注意”。直到17世纪末，英国开始进行大规模的商业活动。这时，广告一词便广泛地流行并被使用。此时的“广告”，已不单指一则广告，而指一系列的广告活动。静止的物的概念的名词Advertise，被赋予现代意义，转化成为“Advertising”。汉字的广告一词源于日本。</p>
	<hr>
	<br>

	<p>《简明大不列颠百科全书》（15版）对广告的定义是：广告是传播信息的一种方式，其目的在于推销商品、劳务服务、取得政治支持、推进一种事业或引起刊登广告者所希望的其他的反映。广告信息通过各种宣传工具，传递给它所想要吸引的观众或听众。广告不同于其他传递信息的形式，它必须由登广告者付给传播的媒介以一定的报酬。</p>
	<hr>
	<br>
</div>

<!-- footer -->
	<div class="footer" style="border:2px solid blue">
	<div class="container">
		<div class="footer-left">
			<div class="footer-left-text">
				<p>承办于<a target="_blank" href="http://www.baidu.com/s?wd=中北大学">中北大学</a> --- 下属学院 <a target="_blank" href="http://www.baidu.com/s?wd=中北大学大数据学院" >大数据学院</a></p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="footer-right">
			<ul>
				<li><a href="#" class="facebook"> </a></li>
				<li><a href="#" class="twitter"> </a></li>
				<li><a href="#" class="dribble"> </a></li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	</div>
</div>

<!--login-->
<script>
        a={{ statu }};
        if (a==1)
        {
            alert('\n\n     {{ error }}\n\n');
        }
</script>
</body>
</html>
