<!DOCTYPE html>
<html>
	<head>
		<title>注册信息修改</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Awesome Register Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script type="text/javascript" src="/static/js/alert.js"></script>
		<!-- Custom Theme files -->
		<link href="/static/css/reg_style.css" rel="stylesheet" type="text/css" media="all" />
		<!-- //Custom Theme files -->
		<!-- web font --> 
		<link href="//fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
		<!-- //web font -->
	</head>
	<body>
		<h2 style="font-size: 400%">注册信息修改：</h2>
		<h4 style="font-size: 200%">原信息</h4>
		用户名：{{user.username}}<br>
		邮箱：{{user.email}}<br>
		密码：---隐藏---<br><br>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button><a href="{% url 'give_up_alter' %}"><p style="text-align: center;font-size: 300%">放弃修改</p></a>
		</button>
		<br>
		<br>
		<div data-vide-bg="/static/video/awesome">
		<div class="main-w3layouts center-container">
			<h1>Welcome to Register</h1>
			<div class="main-agileinfo">
				<div class="agileits-top"> 
					<form action="" method="post"> 
						<i class="fa fa-user-o" aria-hidden="true"></i>
						<input class="text" type="password" name="confirm_pass" placeholder="请输入原密码" required="">
						<input class="text" type="text" name="Username" placeholder="用户呢称" required="">
						<p style="color:red">请确定邮箱填写正确</p>
						<p style="color:red">拥有邮箱就拥有您的绝对权限</p>
						<input class="text email" type="email" name="email" placeholder="Email" required="">
						<input class="text" type="password" name="password" placeholder="Password" required="">
						{% csrf_token %}
						<input class="text w3lpass" type="password" name="confirm_password" placeholder="Confirm Password" required="">
						<input type="submit" value="确认修改">
					</form>
				</div>	 
			</div>	
			<!-- copyright -->
			<!-- //copyright -->	
		</div>	
		</div>
		<!-- //main --> 
		<!-- js -->
		<script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
		<script src="static/js/jquery.vide.min.js"></script>
		<!-- //js -->
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	<script>
        a={{ statu }};
        if (a==1)
        {
            window.alert('\n\n     {{ error }}\n\n');
        }
</script>
	</body>
</html>