{% extends 'bar.html' %}

{% block title %}
队伍转让
{% endblock %}

{% block content %}
<table style="width: 100%; text-align: center; border:solid 1px #f0f0f0; border-bottom:solid 2px #f0f0f0; border-right:solid 2px #f0f0f0; font-family: 黑体;">					
		<tr style="background:#4682B4;">
		<td height="60px" colspan="3"><span style="color:white; font-family: 微软雅黑; font-size: 30px; font-weight: bold;">队长转让</span></td>
		</tr>		 					
		<tr style="background:#DCDCDC; height: 40px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
		<td ><br><p>感谢您光临此页面,因为网站编写者很懒，所以这里只有一个建议：</p>
			<p >请您删除队伍后重新创建队伍并组队</p></td>
		</tr>
	
</table>

	
{% endblock %}

{% block team_act %}
active
{% endblock %}