<!DOCTYPE html>
<html>
	<head>
		<title>身份验证</title>
	</head>
	<body>
		<div style="text-align: center;">
			<div style="display:table;margin-left: 35%;margin-right: 35%;">
				<h2>身份验证</h2>
				<p >您的昵称是({{user.username}}),请提供您的密码：</p>
				<form action="" method="post"> 
					<input type="password" name="password">
					{% csrf_token %}
					<input type="submit" value="验证" style="">
				</form>
				<div style="margin-top: 20px;"><a href="{% url 'person_center' %}">放弃修改</a></div>
			</div>
		</div>
<script type="text/javascript" src="/static/js/alert.js"></script>
<script>
        a={{ statu }};
        if (a==1)
        {
            window.alert('\n\n     {{ error }}\n\n');
        }
</script>
	</body>
</html>