{% extends 'bar.html' %}

{% block title %}
队伍创建
{% endblock %}

{% block content %}
	     
	    <div class="col-md-3"></div>
		<div class="col-md-6">
	    <div style="text-align: center;"><h1>队伍创建</h1></div>
		<p style="margin-bottom: 30px;">登录网站并报名参赛后,本页面将创建以本人为队长的队伍</p>
		<form action="{% url 'create_team' %}" method="POST">
			{% csrf_token %}
			<div class=" col-md-8">
			<div class="form-group">
			   <input type="text" class="form-control"  placeholder="请输入队伍名" name="">
			</div>
			</div>
			<div class="col-md-4">
			<button type="submit" class="btn btn-success"  >创建队伍</button>
			</div>
		</form>
		</div>
		<div class="col-md-3"></div>
{% endblock %}

{% block team_act %}active{% endblock %}


