{% extends 'bar.html' %}

{% block title %}
队伍删除或成员退出
{% endblock %}

{% block content %}
	{% if has_team %}
		{% if is_captain %}
		<h1>您是队长</h1>
		<p>您的队伍是：{{team.team_name}}</p>
		<button><a href="{% url 'dis_enter_team' team.id 1 %}">删除队伍</a></button>
		{% else %}
		<h1>您加入了队伍但非队长</h1>
		<p>您加入的队伍是：{{usercompetition.team.team_name}}</p>
		<button><a href="{% url 'dis_enter_team' usercompetition.team.id 2 %}">退出队伍</a></button>
		{% endif %}
	{% else %}
		<h1>您还没有队伍,请返回队伍页面创建或加入队伍</h1>
	{% endif%}

{% endblock %}

{% block team_act %}
active
<script>
        a={{ statu }};
        if (a==1)
        {
            alert('\n\n     {{ error }}\n\n');
        }
</script>

{% endblock %}

