{% extends 'bar.html' %}

{% block title %}
邀请入队
{% endblock %}

{% block content %}
<div style="width: 70%; margin:auto;">
	<table style="width: 100%; text-align: center; border:solid 1px #f0f0f0; border-bottom:solid 2px #f0f0f0; border-right:solid 2px #f0f0f0; font-family: 黑体;">					
			<tr style="background:#4682B4;">
			<td height="60px"><span style="color:white; font-family: 微软雅黑; font-size: 30px; font-weight: bold;">邀请入队成功</span></td>
			</tr>		 					
			<tr style="background:#DCDCDC; height: 40px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
			<td >您已成功向 &nbsp&nbsp 参赛成员：{{userprofile_name}} &nbsp&nbsp 发送了入队请求</td>
			
			</tr>
		    <tr style="background:#DCDCDC; height: 40px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
		    	<td >请耐心等待成员同意</td>
		    </tr>
	</table>
</div>
<script type="text/javascript" src="/static/js/alert.js"></script>
<script>
        a={{ statu }};
        if (a==1)
        {
            window.alert('\n\n     {{ error }}\n\n');
        }
</script>

{% endblock %}

{% block team_act %}active{% endblock %}


