{% extends 'bar.html' %}

{% block title %}
加入队伍
{% endblock %}

{% block content %}
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div style="text-align: center;"><h1>加入队伍</h1></div>
		<table class="table table-hover ">
			<tr style="background: #1903014d;">
				<td>队名</td>
				<td>队长</td>
				<td>加入</td>
			</tr>
			{% for team in teams %}
			<tr>
				<td>{{team.team_name}}</td>
				<td>{{team.captain}}</td>
				<td><a href="{% url 'join_req' team.pk send_by_team %}"><botton>发出加入申请</botton></a></td>
			</tr>
			{% endfor %}
		</table>
       </div>
       <div class="col-md-2"></div>
{% endblock %}

{% block team_act %}active{% endblock %}


