{% extends 'bar.html' %}
{% block title %}
个人中心
{% endblock %}

{% block content %}
	<div style="border:1px solid #F5F5DC; width: 100%; background: #F5F5DC; margin-top:-25px; ">
	    <div class="dv" style="width: 70%; background:#F8F8FF; margin:auto; margin-top:80px; padding-top: 50px;">
			<div style="padding: 5px; width: 90%; margin:auto;"> 
				<table style="width: 100%; text-align: center; border:solid 1px #f0f0f0; border-bottom:solid 2px #f0f0f0; border-right:solid 2px #f0f0f0; font-family: 黑体;">
 					<tr style="background:#4682B4;">
						<td height="60px" colspan="2"><span style="color:white; font-family: 微软雅黑; font-size: 30px; font-weight: bold;">本站注册信息</span></a></td>
 					</tr>
 					
 	
 					<tr style="background:#DCDCDC; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td style=" width: 33%;">昵称：</td>
						<td style="width: 33%;">{{user.username}}</td>
 					</tr>
				    <tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td >邮箱：</td>
						<td >{{user.email}}</td>
						
					</tr>
					<tr style="background:#F5F5F5; height: 55px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td colspan="2">
						<button style="border:none; background: #778899; border-radius: 8px; width: 170px; height: 30px;"><a href="{% url 'confirm' 1 %}" ><span style="font-size: 17px; color: white;">修改</span></a></button>
						</td>
					</tr>
				</table>
		    </div>
			<div style="padding: 5px; width: 90%; margin:auto; margin-top: 40px; "> 
				<table style="width: 100%; text-align: center; border:solid 1px #f0f0f0; border-bottom:solid 2px #f0f0f0; border-right:solid 2px #f0f0f0; font-family: 黑体;">
 					<tr style="background:#4682B4;">
						<td height="60px" colspan="2"><span style="color:white; font-family: 微软雅黑; font-size: 30px; font-weight: bold;">报名参赛信息</span></a></td>
 					</tr>
 					
 					{% if has_enter %}
 					<tr style="background:#DCDCDC; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td style=" width: 33%;">姓名：</td>
						<td style="width: 33%;">{{userprofile.name}}</td>
 					</tr>
				    <tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td >性别：</td>
						<td >
						{% if userprofile.sex == 'man' %}
						男
						{% else %}
						女
						{% endif %}
						</td>	
					</tr>
					<tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td >学校：</td>
						<td >{{userprofile.college}}</td>
					</tr>

					<tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td >学号：</td>
						<td >{{userprofile.student_id}}</td>
					</tr>

					<tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td >联系电话：</td>
						<td >{{userprofile.phone}}</td>
					</tr>
					<tr style="background:#F5F5F5; height: 55px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td colspan="2">
						<button style="border:none; background: #778899; border-radius: 8px; width: 170px; height: 30px;"><a href="{% url 'confirm' 2 %}" ><span style="font-size: 17px; color: white;">修改</span></a></button>
						</td>
					</tr>
					{% else %}
					<tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td colspan="2">未报名参赛</td>
					</tr>
					{% endif %}
				</table>
	   	    </div>
			<div style="padding: 5px; width: 90%; margin:auto; margin-top: 40px; "> 
				<table style="width: 100%; text-align: center; border:solid 1px #f0f0f0; border-bottom:solid 2px #f0f0f0; border-right:solid 2px #f0f0f0; font-family: 黑体;">
 					<tr style="background:#4682B4;">
						<td height="60px" colspan="2"><span style="color:white; font-family: 微软雅黑; font-size: 30px; font-weight: bold;">队伍</span></a></td>
 					</tr>
 					
 					{% if has_team %}
 					<tr style="background:#DCDCDC; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td style=" width: 33%;">队伍号：</td>
						<td style="width: 33%;">{{team.id}}</td>
 					</tr>
				    <tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td >队伍名：</td>
						<td >{{team.team_name}}</td>
					</tr>
					<tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td >队长昵称：</td>
						<td >{{team.captain.username}}</td>
					</tr>
					<tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td >队伍人数：</td>
						<td >{{team.peo_num}}</td>
					</tr>
					<tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td >队伍成员：</td>
						<td >
							<ul>
								{% for i in member %}
								<li>{{i.userprofile.user.username}}</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
					<tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td >提交次数：</td>
						<td >{{team.sub_num}}</td>
					</tr>

					<tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td >最高分:</td>
						<td >{{team.max_score}}</td>
					</tr>
					
					<tr style="background:#F5F5F5; height: 55px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td colspan="2">
						<button style="border:none; background: #778899; border-radius: 8px; width: 170px; height: 30px;"><a href="{% url 'team' %}" ><span style="font-size: 17px; color: white;">修改</span></a></button>
						</td>
					</tr>
					{% else %}
					<tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td colspan="2">尚未组队或加入队伍</td>
					</tr>
					{% endif %}
				</table>
			</div>
	
			<div style="padding: 5px; width: 90%; margin:auto; margin-top: 40px; "> 
				<table style="width: 100%; text-align: center; border:solid 1px #f0f0f0; border-bottom:solid 2px #f0f0f0; border-right:solid 2px #f0f0f0; font-family: 黑体;">
 					
 					
				{% if is_captain %}
				<tr style="background:#4682B4;">
					<td height="60px" colspan="2"><span style="color:white; font-family: 微软雅黑; font-size: 30px; font-weight: bold;">请求（您是队长）</span></a></td>
						</tr>
					<tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td >队伍发出：</td>
						<td >
							{% for i in team_invite %}
							<ul>
								<li>您代表队伍({{i.team.team_name}})向参赛人员({{i.userprofile.user.username}})发送了入队请求，待同意</li>
								{% empty %}
								<p>----暂无----</p>					
							{% endfor %}
							</ul>
						</td>
					</tr>
					<tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td >参赛人员入队请求：</td>
						<td >
							{% for i in person_apply %}
							<ul>
								<li>参赛人员({{i.userprofile.user.username}})向您所在队伍({{i.team.team_name}})发送了入队请求,待您同意</li>
								{% empty %}
								<p>----暂无----</p>
							{% endfor %}
							</ul>
						</td>
					</tr>
				{% else %}
					{% if has_request %}
					<tr style="background:#4682B4;">
						<td height="60px" colspan="2"><span style="color:white; font-family: 微软雅黑; font-size: 30px; font-weight: bold;">请求</span></a></td>
	 					</tr>
	 					<tr style="background:#DCDCDC; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
							<td style=" width: 33%;">队伍发出：</td>
							<td style="width: 33%;">
								{% for i in team_invite %}
								<ul>
									<li>队长({{i.team.captain.username}})代表队伍({{i.team.team_name}})向您发出了入队请求,待同意</li>
									{% empty %}
									<p>----暂无----</p>
								</ul>
								{% endfor %}
							</td>
	 					</tr>
					    <tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
							<td >参赛人员入队请求：</td>
							<td >
								{% for i in person_apply %}
								<ul>
									<li>您向队伍({{i.team.team_name}})发送了入队请求,待该队队长同意</li>
									{% empty %}
									<p>----暂无----</p>
								{% endfor %}
								</ul>
							</td>
						</tr>
					{% else %}
					<tr style="background:#4682B4;">
						<td height="60px" colspan="2"><span style="color:white; font-family: 微软雅黑; font-size: 30px; font-weight: bold;">请求</span></a></td>
 					</tr>
 					<tr style="background:#F5F5F5; height: 45px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td colspan="2">暂没有和您相关的队伍请求</td>
					</tr>
					{% endif %}
				{% endif %}
				<tr style="background:#F5F5F5; height: 55px; font-size: 21px; color: #696969; border:1px solid #DCDCDC">
						<td colspan="2">
						<button style="border:none; background: #778899; border-radius: 8px; width: 170px; height: 30px;"><a href="{% url 'req_deal' %}" ><span style="font-size: 17px; color: white;">请求处理</span></a></button>
						</td>
				</tr>
				</table>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/alert.js"></script>
	<script>
	        a={{ statu }};
	        if (a==1)
	        {
	            window.alert('\n\n     {{ error }}\n\n');
	        }
	</script>
{% endblock %}

{% block per_center_act %}active{% endblock %}

