{% extends 'bar.html' %}

{% block title %}
	请求处理
{% endblock %}

{% block content %}
	{% if status == '队长' %}
		<h1>您是{{status}}</h1>
		<div>
			<ul>
			<li>队伍名：{{team.team_name}}</li>
			<li>
				成员:<br>
				<ul>
				{% for com in team_compare %}
				<li>{{com.userprofile.user.username}}</li>
				{% endfor %}
				</ul>
			</li>
			</ul>
		</div>
		<div>
			<h5>我邀请的(待同意)</h5>
			<ul>
			{% for i in peo_invite %}
			<li>{{i.userprofile.user.username}}</li>
			{% empty %}
			<h6>----暂无----</h6>
			{% endfor %}
			</ul>
		</div>
		<div>
			<h5>入队申请</h5>
			<ul>
			{% for i in ap %}
			<li>{{i.userprofile.user.username}}&nbsp&nbsp&nbsp&nbsp<span><a href="{% url 'agree' i.team_id i.userprofile_id i.pk %}">同意加入</a></span></li>
			{% empty %}
			<h6>----暂无----</h6>
			{% endfor %}
			</ul>
		</div>
	{% else %}
		<h1>您是{{status}}</h1>
		<div>
			<h5>向您发出的邀请</h5>
			<ul>
			{% for i in invite %}
			<li>{{i.team.team_name}}&nbsp&nbsp&nbsp&nbsp<span><a href="{% url 'agree' i.team_id i.userprofile_id i.pk %}">同意加入队伍</a></span></li>
			{% empty %}
			<h6>----暂无----</h6>
			{% endfor %}
			</ul>
		</div>
		<div>
			<h5>入队申请(队伍名)</h5>
			<ul>
			{% for i in ap %}
			<li>{{i.team.team_name}}</li>
			{% empty %}
			<h6>----暂无----</h6>
			{% endfor %}
			</ul>
		</div>
	{% endif %}
<script>
        a={{ statu }};
        if (a==1)
        {
            alert('\n\n{{ error }}\n\n');
        }
        if (a==2)
		{
		    alert('\n\n{{ error}}\n\n');
		}
    </script>
{% endblock %}

{% block team_act %}active{% endblock %}

