{% extends 'bar.html' %}

{% block title %}
队伍
{% endblock %}

{% block head_extends %}
{% endblock %}

{% block content %}

	
	  <div class="col-md-3">
	  <ul class="list-group">
		  <li  class="list-group-item"><a href="{% url 'create_team' %}"
		  	class="list-group-item">创建队伍</a></li>
		  <li  class="list-group-item"><a href="{% url 'join_team' %}" class="list-group-item">加入队伍</a></li>
		  <li  class="list-group-item"><a href="{% url 'req_deal' %}" class="list-group-item">请求处理</a></li>
		  <li  class="list-group-item"><a href="{% url 'del_ordisteam' %}" class="list-group-item">队伍的删除和退出</a></li>
		  <li  class="list-group-item"><a href="{% url 'captain_trans' %}" class="list-group-item">队长转让</a></li>
      </ul>
      </div>
	  <div class="col-md-8">
		<table class="table table-hover ">
			<tr style="background: #1903014d;">
				<td>队伍号</td>
				<td>队名</td>
				<td>队长</td>
				<td>提交次数</td>
				<td>最高分</td>
			</tr>
			{% for team in teams %}
			<tr>
				<td>{{team.id}}</td>
				<td>{{team.team_name}}</td>
				<td>{{team.captain}}</td>
				<td>{{team.sub_num}}</td>
				<td>{{team.max_score}}</td>
			</tr>
			{% endfor %}
		</table>
       </div>
<script type="text/javascript" src="/static/js/alert.js"></script>
<script>
        a={{ statu }};
        if (a==1)
        {
            window.alert('\n\n     {{ error }}\n\n');
        }
</script>
{% endblock %}

{% block team_act %}
active
{% endblock %}